/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

/* вендорные */
@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

/* page */
@import url("./blocks/page/page.css");

/* header */
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__container/header__container.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__userData/header__userData.css");

/* popup */
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container-full-size-image/popup__container-full-size-image.css");
@import url("./blocks/popup/__fullsize-img-figure/popup__fullsize-img-figure.css");
@import url("./blocks/popup/__fullsize-img-picture/popup__fullsize-img-picture.css");
@import url("./blocks/popup/__fullsize-img-caption/popup__fullsize-img-caption.css");
@import url("./blocks/popup/__container-confirm-delete/popup__container-confirm-delete.css");
@import url("./blocks/popup/__confirm-delete-button/popup__confirm-delete-button.css");
@import url("./blocks/popup/__change-avatar/popup__container-change-avatar.css");
@import url("./blocks/popup/__icon/popup__icon.css");
@import url("./blocks/popup/__infoTooltip/_title/popup__infoTooltip_title.css");
@import url("./blocks/popup/__container-infoTooltip/popup__container-infoTooltip.css");

/* form */
@import url("./blocks/form/form.css");
@import url("./blocks/form/__field/form__field.css");
@import url("./blocks/form/__save-btn/form__save-btn.css");
@import url("./blocks/form/__save-btn/_valid/form__save-btn_valid.css");
@import url("./blocks/form/__save-btn/_invalid/form__save-btn_invalid.css");
@import url("./blocks/form/__save-btn/_loading/form__save-btn_loading.css");
@import url("./blocks/form/__input/form__input.css");
@import url("./blocks/form/__input-error/form__input-error.css");
@import url("./blocks/form/__input-error-field/form__input-error-field.css");

/* main */
@import url("./blocks/main/main.css");

/*login*/
@import url("./blocks/login/login.css");
@import url("./blocks/login/__title/login__title.css");
@import url("./blocks/login/__form/login__form.css");
@import url("./blocks/login/__form/_input/login__form_input.css");
@import url("./blocks/login/__submit-btn/login__submit-btn.css");

/*register*/
@import url("./blocks/register/__subtitle/register__subtitle.css");
@import url("./blocks/register/__link/register__link.css");

/* profile */
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__add-btn/profile__add-btn.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__edit-btn/profile__edit-btn.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__title/profile__title.css");

/* elements */
@import url("./blocks/elements/elements.css");

/* element */
@import url("./blocks/element/element.css");
@import url("./blocks/element/__image/element__image.css");
@import url("./blocks/element/__title/element__title.css");
@import url("./blocks/element/__like/element__like.css");
@import url("./blocks/element/__like/_active/element__like_active.css");
@import url("./blocks/element/__remove-btn/element__remove-btn.css");
@import url("./blocks/element/__remove-btn/element__remove-btn_hidden.css");
@import url("./blocks/element/__like-counter/element__like-counter.css");

/* footer */
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
